<h1>Welcome to {{ hotelName }}</h1>

<div [hidden]="hideRooms">
  Number of rooms:
  <div
    [ngStyle]="{ color: rooms.availableRooms > 0 ? 'steelblue' : 'red' }"
    [innerText]="numberOfRooms"
  ></div>
</div>

{{ rooms.availableRooms }}

<div *ngIf="rooms.availableRooms > 0">
  Rooms List

  <table>
    <tr>
      <th>Index</th>
      <th>Number</th>
      <th>Type</th>
      <th>Price</th>
      <th>Amenities</th>
      <th>Check-in time</th>
      <th>Check-out time</th>
      <th>Even</th>
      <th>Odd</th>
    </tr>

    <tr
      [ngClass]="e ? 'even' : 'odd'"
      *ngFor="let room of roomList; let e = even; let o = odd; let i = index"
    >
      <td>{{ i }}</td>
      <td>{{ room.roomNumber }}</td>
      <td>{{ room.roomType }}</td>
      <td>{{ room.price }}</td>
      <td>{{ room.amenities }}</td>
      <td>{{ room.checkInTime | date }}</td>
      <td>{{ room.checkOutTime | date }}</td>
      <td>{{ e }}</td>
      <td>{{ o }}</td>
    </tr>
  </table>
</div>

<button (click)="toggle()">Toggle</button>
