<hia-header></hia-header>

<div *ngIf="getError$ | async as error">{{ error }}</div>

<div *ngIf="selectedRoom">Selected room: {{ selectedRoom | json }}</div>

<div>
  <button (click)="addRoom()">Add Room</button>
</div>

<div>
  <button (click)="updateRoom()">Update Room</button>
</div>

<div>
  <button (click)="deleteRoom()">Delete Room</button>
</div>

<div *ngIf="!hideRooms">
  <h3>Number of rooms: {{ roomsCount$ | async }}</h3>

  <div *ngIf="rooms$ | async as rooms">
    <hia-rooms-table
      [rooms]="rooms"
      (roomSelected)="selectRoom($event)"
    ></hia-rooms-table>
  </div>
</div>

<button (click)="toggle()">Toggle</button>

<div>Photo bytes downloaded: {{ photoBytesDownloaded }}</div>
