<hia-header></hia-header>

<div [hidden]="hideRooms">
  Number of rooms:
  <div
    [ngStyle]="{ color: rooms.availableRooms > 0 ? 'steelblue' : 'red' }"
    [innerText]="numberOfRooms"
  ></div>
</div>

{{ rooms.availableRooms }}

<div *ngIf="selectedRoom">Selected room: {{ selectedRoom | json }}</div>

<div>
  <button (click)="addRoom()">Add Room</button>
</div>

<div>
  <button (click)="updateRoom()">Update Room</button>
</div>

<div>
  <button (click)="deleteRoom()">Delete Room</button>
</div>

<div *ngIf="!hideRooms">
  <hia-rooms-table
    [rooms]="roomList"
    (roomSelected)="selectRoom($event)"
  ></hia-rooms-table>
</div>

<button (click)="toggle()">Toggle</button>
